{% extends 'base.html' %}
{% block content %}

<div class ="card text-center">
	<br class ="card-body">
		<h4>Thank you for willing to participate in our experiment!</h4>
		<h4>This experiment is confidential, no personal information is being gathered.</h4>
		<h4>This experiment is for the purpose of our final project in Man Interacts with Machine course.</h4><br>
		<pre>

		</pre>
		<h5>The experiment will go as follows:</h5>
		<pre>
		</pre>
		<p>There are two parts in the experiment.<br>
			Part one (questions 1-4): You will be "playing" against a computer. You start with a sum of money, and there will be a series of
		questions that you will need to answer. You're goal is to finish the quiz with the most money you can. <b>You
				will not see how much money you win or lose or start with</b>.
			<br> Part two (questions 5-8): there will be a series of questions that <b>don't have to do with the game</b>.
		</p>
		<pre>

		</pre>
		<a class ="btn btn-dark" href ="{% url 'polls:index' %}">
			Im ready, lets start!</a>
	</div>
</div>
{% endblock %}
